/* Banner.css */
.banner {
    position: relative;
    height: 400px;
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); /* Adjust the overlay color and opacity */
    z-index: 0;
  }
  
  .banner-content {
    z-index: 1;
  }
  
  h1 {
    font-size: 6rem;
    margin: 0;
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .banner {
      height: 250px;
    }
  
    h1 {
      font-size: 3.5rem;
    }
  }
  