/* ContactUs.css */
.contact-section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 50px 0;
  }
  
  .contact-info, .contact-form {
    flex: 1;
    max-width: 400px;
    padding: 0 20px;
  }
  
  .contact-form h2, .contact-info h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .contact-info p {
    margin-bottom: 10px;
  }
  
  .contact-form form {
    display: flex;
    flex-direction: column;
  }
  
  .contact-form input, .contact-form textarea {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .contact-form button {
    padding: 10px;
    background-color: #1F2544;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .contact-form button:hover {
    background-color: #81689D;
  }
  