/* src/Styles/Jumbotron.css */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .app {
    text-align: center;
  }
  
  .carousel-container {
    overflow: hidden;
    width: 100%;
  }
  
  .carousel {
    display: flex;
    width: 100%;
    transition: transform 0.5s ease-in-out;
  }
  
  .slide {
    flex: 0 0 100%;
    height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    transition: opacity 0.5s ease-in-out;
  }
  
  .slide.active {
    opacity: 1;
  }
  
  .arrow {
    position: absolute;
    top: 25rem;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1;
    color: white;
  }
  
  .left {
    left: 10px;
  }
  
  .right {
    right: 10px;
  }
  
  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 16px;
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .slide {
      height: 400px;
    }
  
    h2 {
      font-size: 18px;
    }
  
    p {
      font-size: 14px;
    }
    
    .arrow{
        top: 20rem;
    }
  }
  